body {
    background-color: yellow;
}

header {
    background-color: black;
    color: red;
    font-size: 180%;
    height: 125px;
    line-height: 125px;
    margin-bottom: 35px;
    text-align: center;
}

