.amendments {
  border: 2px solid blue;
  height: 350px;
  margin-bottom: 10px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 10px;
  
}

.amendments h4 {
  color: blue;
  font-style: oblique;
  margin-bottom: 15px;
}

.amendmentVotes {
  margin-top: 25px;
}

.billComments {
  margin-left: 75px;
  margin-top: 40px;
}

.billContainer {
  margin-left: 40px;
}

.billContainer img {
  height: 90px;
  width: 90px;
}

.billFeedback {
  height: 500px;
  margin-top: 35px;
  width: 100%;
}

.billImage {
  margin-left: 35%;
  margin-right: 35%;
}




.billName {
  font-family: 'Cookie', cursive;
  font-size: 225%;
  text-align: center;
}

.bills {
  background-color: white;
  display: inline-block;
  height: 430px;
  margin: 35px;
  width: 26%;
  
}

.billScore {
  font-size: 180%;
  left: 18px;
  position: relative;
  top: 5px;
}

.billSummary {
  color: black;
  margin-bottom: 20px;

}


.bio {
  margin-bottom: 160px;
  margin-left: 40px;
  margin-top: 25px;
  width: 70%;
}
.bio h4 {
  border-bottom: 5px solid red;
}

.bioInput {
  height: 200px;
  width: 70%;
}

.black {
  color: black;
}

.blogCard {
  background-color: lightskyblue;
  border-bottom: 2px solid red;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  height: 205px;
  margin-left: 8%;
  margin-right: 8%;
  padding: 20px;
  width: 80%;
}

.blogDropdown {
  display: none;
}

.blogList {
  background-color: #fd2146e5;
  
  margin-left: 40px;
  padding-bottom: 25px;
  
  width: 56%;
}

.blue {
  border: 2px solid blue;
}


body {
  background-color: rgb(226, 193, 92);
  font-family: sans-serif;
  margin-top: 120px;
  
}

.bodyInput {
  height: 500px;
  width: 75%;
}

.bold {
  font-weight: 600;
}

.breakdown {
  border-bottom: 3px solid red;
}

.building {
  margin-top: 15px;
}

.byline {
  font-family: 'Cookie', cursive;
  font-size: 250%;
  margin-left: 75px;
}

.cardContainer {
 
  margin-bottom: 180px;
  width: 85%;
}

.cards {
  border: 24px solid white;
  color: white;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 4%;
  text-align: center;
  width: 250px;
}

.cards img {
  height: 80%;
  margin-bottom: 10px;
  width: 80%;
}

.commentButton {
  left: -200px;
  margin-bottom: 155px;
  position: relative;
  
  top: 100px;
}

.commentName {
  height: 25px;
  left: 215px;
  
  position: absolute;
  width: 150px;
}

.commentScore {
  font-weight: 800;
}

.commentSection {
  margin-left: 75px;
}

.commentSection li {
  list-style-type: none;
}

.commentText {
  height: 150px;
  margin-top: 15px;
  width: 200px;
}

.commentTotal {
  font-family: 'Noto Serif', serif;
}

.commentVote {
  bottom: 28px;
  left: 140px;
  position: relative;
  width: 100px;
}

.container {
  float: right;
}



.content {
  background-color: white;
  border: 2px solid rgb(131, 24, 24);
  margin-left: 15%;
  margin-right: 15%;
  padding: 5%;
  text-align: center;
}


.dropdown {
  background-color: white;
  border: 3px solid gray;
  bottom: 47px;
  left: -63px;
  max-height: 100px;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  width: 150px;
  
  
}

.dropdownButton {
 
  position: relative;
 
}

.dropdownItems {
  list-style-type: none;
}

.dropdownState {
  display: none;
  margin-left: 170px;
}

.dropdownText {
  font-weight: 550;

}

.editBio {
  float: right;
  position: relative;
  top: -45px;
}

.editIssue {
  float: right;
  position: relative;
  top: -55px;
}

.editSocial {
  float: right;
  left: 36%;
  position: relative;
  
  top: -55px;
}

.feedback {
  background-color: white;
  border: 3px solid black;
  margin-bottom: 15px;
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 3%;

  width: 40%;
}

.feedback h4 {
  color: blue;
  font-style: oblique;
  margin-bottom: 15px;
}

.feedback p {
  margin-left: 20px;
  margin-top: 25px;
  
}

.find {
  line-height: 65px;
}

.flagHeight img {
  height: 200px;
}

.footer {
  background-color: black;
  bottom: 0px;
  color: orange;
  height: 60px;
  line-height: 60px;
  margin-bottom: 0px;
  margin-top: 40px;
  position: relative;
  text-align: center;
  width: 120%;
  z-index: -1;
}

.green {
  background-color: lightgreen;
}

.groupDropdown {
  display: none;
  margin-left: 17%;
  
}

.groupFooter {
  bottom: 0px;
  margin-top: 185px;
  position: relative;
  width: 100%;
}

.groupSidebar {
  margin-left: 5%;
  width: 10%;
}

.header {
  background-color: white;
  color: plum;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 250%;
  height: 75px;
  margin-right: 40px;
  padding-top: 10px;
  position: fixed;
  text-align: center;
  top: 30px;
  width: 100%;
  z-index: -1;
}

.house {
  border-right: 2px solid rgb(101, 27, 221);
  margin-left: 40px;
  padding-right: 15px;
}

.house p {
  font-weight: 550;
}

.indexDropdown {
  display: none;
}

.indexFooter {
  bottom: 0px;
  margin-top: 530px;
  position: relative;
  width: 100%;
}

.issues {
  margin-left: 40px;
  margin-top: 45px;
  width: 70%;
}

.issues h3 {
  border-bottom: 5px solid red;
  font-family: 'Vidaloka', serif;
  margin-bottom: 20px;

}

.left {
  float: left;
}



.mainDropdown {
 
  margin-bottom: 90px;
  margin-left: 40px;
  
}

.mainFooter {
  bottom: 0px;
  margin-top: 125px;
  position: relative;
  width: 100%;
}

.mainText {
  float: right;
 
  margin-right: 6%;
  width: 35%;
}

.mainText h3 {
  font-family: 'Cinzel', serif;
  font-size: 260%;
}


.map {
  height: 350px;
  margin-left: 40px;
  width: 400px;
 
}

.mobile {

  display: none;
}

.mobileDropdown {
  display: none;
}

.mobileFeedback {
  display: none;
  margin-top: 35px;
}

.mobileHouse {
  text-align: center;
}

.mobileParties {
  text-align: center;
}

.nays {
  max-height: 350px;
}

.noArticles {
  margin-left: 60px;
  position: absolute;
  top: 220px;
  z-index: -1;
}

.none {
  display: none;
}

.or {
  color: orange;
  font-size: 250%;
}

.pitch {
  line-height: 35px;
}

.profileDropdown {
  display: none;
  margin-top: 45px;
}

.profileFooter {
  bottom: 0px;
  margin-top: 25%;
  position: relative;
  width: 100%;
}

.profileImage {
  height: 200px;
  margin-left: 40px;
  width: 200px;
}

.quickFacts {
  background-color: white;
  border: 2px solid rgb(49, 159, 223);
  left: 320px;
  padding: 10px;
  position: absolute;
  top: 140px;
  width: 450px;
}

.quickFacts h3 {
  text-align: center;
}

.quickLinks {
  background-color: rgb(49, 159, 223);
  
  height: 45px;
  line-height: 45px;
  
  
  padding-left: 25px;
  width: 125%
}

.quickLinks p {
  color: rgb(116, 7, 7);
}

.red {
  background-color: lightcoral;
}

.right {
  float: right;
}

.scroll {
  border: 4px solid gray;
  
  overflow: hidden;
  overflow-y: scroll;
}

.selectVote {
  margin-bottom: 25px;
}

.senate {
  border-left: 2px solid rgb(101, 27, 221);
  margin-right: 40px;
  padding-left: 15px;
}

.senate p {
  font-weight: 550;
}

.sidebar {
  background-color: silver;
  height: 250px;
  position: fixed;
  right: 0px;
  
  width: 125px;
  

}

.sidebar a {
  font-family: 'Actor', sans-serif;
  font-size: 125%;

}

.social {
  margin-left: -40px;
  width: 143%;
}

.socialButton {
  position: relative;
  right: 30px;
}

.socialInput {
  height: 200px;
  left: -30px;
  position: relative;
  width: 100%;
}

.speaker {

  margin-top: 20px;
}


.sponsor {
  color: black;
  left: 35px;
  position: relative;
  top: 90px;
 
}

.stateBlogs {
  background-color: rgb(49, 159, 223);
  height: 90px;

  margin-bottom: 50px;
  margin-top: 30px;
  padding-left: 15px;
  padding-top: 10px; 

  
  text-align: center;
  width: 120%;
  
 
}

.stateBlogs a {
  color: orange;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 135%;
}

.stateDropdown {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 15px;
}

.stateMain img {
  height: 200px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}


.submitButton {
  margin-bottom: 60px;
  margin-top: 25px;
}

.submitContainer {
  background-color: #7eb9e9bb;
  margin-left: 130px;
  padding-left: 35px;
  padding-top: 15px;
  width: 55%;
}

.submitContainer p {
  font-weight: 550;
  margin-top: 20px;
}


.vote {
 
  margin: 25px 35% 135px 35%;
}

.voteLeft {
  float: left;
}

.voteList {
  background-color: white;
  right: 25px;
  list-style-type: none;
  position: relative;
  top: 15px;
  width: 100px;
}

.voteRight {
  float: right;
}

.voteTag {
  display: none;
}

@media screen and (max-width: 980px) {
  body {
    background-color: mediumspringgreen;
  }

  .content {
    margin-left: 20%;
    margin-right: 20%;
  }

  .editSocial {
    left: 33%;
  }

  .pitch {
    line-height: 20px;
  }

  .quickFacts {
    width: 350px;
  }


}

@media screen and (max-width: 640px) {
  .billFeedback {
    display: none;
  }

  .blogDropdown {
    display: block;
    margin-left: 140px;
  }
  
  body {
    background-color: pink;
  }

  .bodyInput {
    width: 170px;
  }

  .commentButton {
   
   margin-left: 340px;
   position: relative;
   top: 25px;
  }



  .desktop {
    display: none;
  }

  .editSocial {
    left: 26%;
  }

  .find {
    line-height: 30px;
  }

  .groupDropdown {
    display: block;
  }

  .indexDropdown {
    display: block;
    margin-left: 20%;
    margin-top: 35px;
  }

  .mobile {
    display: block;
  }

  .mobileDropdown {
    display: block;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10px;
  }

  .mobileFeedback {
    display: block;
  }

  .pitch {
    line-height: 15px;
  }

  .profileDropdown {
    display: block;
    margin-left: 25%;
  }

  .quickFacts {
    margin-left: 40px;
    margin-top: 25px;
    position: static;
  }

  .row {
    margin-bottom: 25px;
  }

  .sidebar {
    display: none;
  }

  .stateBlogs {
    font-size: 79%;
  }

  .dropdownState {
    display: block;
  }

  .summary {
    display: none;
  }

}