.authorInput {
  margin-top: 25px;
}

.bio {
  margin-bottom: 160px;
  margin-left: 40px;
  margin-top: 25px;
  width: 70%;
}
.bio h4 {
  border-bottom: 5px solid red;
}

.bioInput {
  height: 200px;
  width: 70%;
}

.black {
  color: black;
}

.blogCard {
  background-color: lightskyblue;
  border-bottom: 2px solid red;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  height: 205px;
  margin-left: 40px;
  padding: 20px;
  width: 80%;
}

.blogList {
  background-color: red;
  margin-left: 40px;
  
  width: 56%;
}

.blue {
  border: 2px solid blue;
}


body {
  background-color: rgb(204, 166, 51);
  font-family: sans-serif;
  margin-top: 120px;
  
}

.bodyInput {
  height: 500px;
  width: 300px;
}

.breakdown {
  border-bottom: 3px solid red;
}

.building {
  margin-top: 15px;
}

.byline {
  font-family: 'Cookie', cursive;
  font-size: 250%;
  margin-left: 75px;
}

.cardContainer {
 
  margin-bottom: 180px;
  width: 85%;
}

.cards {
  color: white;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 4%;
  text-align: center;
  width: 250px;
}

.cards img {
  height: 200px;
  width: 200px;
}

.commentButton {
  left: -200px;
  margin-bottom: 155px;
  position: relative;
  
  top: 100px;
}

.commentName {
  height: 25px;
  left: 215px;
  position: absolute;
  width: 150px;
}


.commentSection {
  margin-left: 75px;
}



.commentText {
  height: 150px;
  margin-top: 15px;
  width: 200px;
}

.commentTotal {
  font-family: 'Noto Serif', serif;
}

.container {
  float: right;
}



.content {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}


.dropdown {
  background-color: white;
  max-height: 100px;
  overflow: hidden;
  overflow-y: scroll;
  width: 150px;
}

.dropdownButton {
 
  position: relative;
 
}

.dropdownItems {
  list-style-type: none;
}

.dropdownText {
  bottom: 30px;
  font-weight: 550;
  left: 35px;
  position: relative;

}

.editBio {
  float: right;
  position: relative;
  top: -45px;
}

.feedback {
  border: 3px solid black;
  margin-bottom: 15px;
  padding: 3%;
  pointer-events: none;
  width: 40%;
}

.footer {
  background-color: black;
  bottom: 0px;
  color: orange;
  height: 60px;
  line-height: 60px;
  margin-bottom: 0px;
  margin-top: 40px;
  position: relative;
  text-align: center;
  width: 120%;
  z-index: -1;
}

.groupDropdown {
  display: none;
  margin-left: 17%;
  
}

.groupFooter {
  bottom: 0px;
  margin-top: 185px;
  position: relative;
  width: 100%;
}

.groupSidebar {
  margin-left: 5%;
  width: 10%;
}

.header {
  background-color: lightblue;
  color: plum;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 250%;
  height: 75px;
  line-height: 75px;
  margin-right: 40px;
  position: fixed;
  text-align: center;
  top: 30px;
  width: 100%;
  z-index: -1;
}



.house p {
  font-weight: 550;
}

.indexFooter {
  bottom: 0px;
  margin-top: 530px;
  position: relative;
  width: 100%;
}

.mainDropdown {
 
  margin-bottom: 90px;
  margin-left: 40px;
  
}

.mainFooter {
  bottom: 0px;
  margin-top: 125px;
  position: relative;
  width: 100%;
}

.mainText {
  float: right;
 
  margin-right: 6%;
  width: 35%;
}

.mainText h3 {
  font-family: 'Cinzel', serif;
  font-size: 260%;
}


.map {
  height: 350px;
  margin-left: 40px;
  width: 400px;
 
}

.mobileDropdown {
  display: none;
}

.none {
  display: none;
}

.profileFooter {
  bottom: 0px;
  margin-top: 25%;
  position: relative;
  width: 100%;
}

.profileImage {
  height: 200px;
  margin-left: 40px;
  width: 200px;
}

.quickFacts {
  background-color: lightgray;
  left: 350px;
  position: absolute;
  top: 140px;
  width: 500px;
}

.quickFacts h3 {
  text-align: center;
}



.senate p {
  font-weight: 550;
}

.sidebar {
  background-color: silver;
  height: 210px;
  position: fixed;
  right: 0px;
  
  width: 125px;
  

}

.stateBlogs {
  margin-bottom: 50px;
  margin-left: 40px;
  margin-top: 30px;
}

.stateDropdown {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 15px;
}

.stateMain img {
  height: 200px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}


.submitButton {
  margin-bottom: 60px;
  margin-top: 25px;
}

.submitContainer {
  background-color: red;
  margin-left: 130px;
  padding-left: 35px;
  padding-top: 15px;
  width: 55%;
}

.vote {
 
  margin: 25px 35% 135px 35%;
}

.voteLeft {
  float: left;
}

.voteRight {
  float: right;
}


@media screen and (max-width: 980px) {
  body {
    background-color: white;
  }

  .quickFacts {
    width: 350px;
  }


}

@media screen and (max-width: 640px) {
  body {
    background-color: pink;
  }

  .bodyInput {
    width: 170px;
  }

  .groupDropdown {
    display: block;
  }

  .sidebar {
    display: none;
  }

  .mobileDropdown {
    display: block;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10px;
  }



  .summary {
    display: none;
  }

}