.authorInput {
  margin-top: 25px;
}

.bio {
  margin-top: 25px;
  width: 70%;
}
.bio h4 {
  border-bottom: 5px solid red;
}

.bioInput {
  height: 200px;
  width: 70%;
}

.black {
  color: black;
}

.blogCard {
  background-color: pink;
  width: 60%;
}

body {
  background-color: rgb(204, 166, 51);
  font-family: sans-serif;
  margin-top: 120px;
  padding: 0;
}

.bodyInput {
  height: 500px;
  width: 300px;
}

.breakdown {
  border-bottom: 3px solid red;
}

.building {
  margin-top: 15px;
}

.byline {
  font-family: 'Cookie', cursive;
  font-size: 250%;
}

.cards {
  color: white;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  width: 250px;
}

.cards img {
  height: 200px;
  width: 200px;
}

.commentName {
  height: 25px;
  left: 180px;
  position: absolute;
  width: 150px;
}

.commentText {
  height: 100px;
  width: 150px;
}

.container {
  float: right;
}



.content {
  text-align: center;
}


.dropdown {
  background-color: white;
  max-height: 100px;
  overflow: hidden;
  overflow-y: scroll;
  width: 150px;
}

.dropdownButton {
  left: 95px;
  position: relative;
  bottom: 40px;
}

.dropdownItems {
  list-style-type: none;
}

.dropdownText {
  font-weight: 550;
}

.feedback {
  background-color: pink;
  width: 40%;
}

.footer {
  background-color: black;
  bottom: 0px;
  color: orange;
  height: 60px;
  line-height: 60px;
  margin-top: 50px;
  position: relative;
  text-align: center;
  width: 120%;
}

.header {
  background-color: lightblue;
  color: plum;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 250%;
  height: 75px;
  line-height: 75px;
  margin-right: 40px;
  position: fixed;
  text-align: center;
  top: 30px;
  width: 100%;
  z-index: -1;
}



.house p {
  font-weight: 550;
}

.mainDropdown {
  margin-left: 40px;
}



.mainText {
  float: right;
  font-family: 'Cinzel', serif;
  font-size: 260%;
  margin-right: 7%;
  width: 40%;
}

.map {
  height: 350px;
  margin-left: 40px;
  width: 400px;
}

.none {
  display: none;
}

.profileImage {
  height: 200px;
  width: 200px;
}

.quickFacts {
  background-color: lightgray;
  left: 350px;
  position: absolute;
  top: 140px;
  width: 500px;
}

.quickFacts h3 {
  text-align: center;
}


.senate p {
  font-weight: 550;
}

.stateBlogs {
  margin-left: 40px;
  margin-top: 30px;
}



.stateDropdown {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 15px;
}

.stateMain img {
  height: 200px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}


.submitButton {
  margin-top: 25px;
}

.submitContainer {
  margin-left: 250px;
}

@media screen and (max-width: 980px) {
  body {
    background-color: white;
  }
}

@media screen and (max-width: 768px) {

  body {
    background-color: blue;
  }
}

@media screen and (max-width: 640px) {
  body {
    background-color: red;
  }
  
 
}