.bio {
    margin-top: 25px;
    width: 70%;
}

h4 {
    border-bottom: 5px solid red;
}

h1 {
    position: absolute;
    left: 450px;
    top: 80px;
}



img {
    height: 200px;
    width: 200px;
}

.quickFacts {
    background-color: lightgray;
    left: 350px;
    position: absolute;
    
    top: 140px;
    width: 500px;
}

.quickFacts h3 {
    text-align: center;
}
