li {
    list-style-type: none;
}

ul {
    background-color: white;
    bottom: 30px;
    left: 33px;
    max-height: 100px;
    overflow: hidden;
    overflow-y: scroll;
    position: relative;
    width: 150px;
}