#header {
    background-color: lightblue;
    color: plum;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 250%;
    height: 75px;
    line-height: 75px;
    position: fixed;
    text-align: center;
    top: 30px;
    width: 100%;
}